

<div class="" style="display: inline;">
  

    <div class="card-header" style="text-align: center;font-size:22px;" >
      Informacoes da Nota ! 
    </div>
  <div style="display: block" class="mt-4">
        <div class="alert alert-info" style="text-align:center;width: 500px;font-size: 12px;">
          <h4>N.º da Nota : {{NovaNota.numeroNota}} </h4>
        </div>
      
        <div class="alert alert-info" style="text-align:center;width: 490px;position:relative; left:400px;top : -78px;font-size: 12px;">
          <h4>Quantidade de Itens : {{NovaNota.quantidadeDeItens}} </h4>
        </div>

        <div class="alert alert-info" style="text-align:center;width: 500px;position:relative; left:800px;top : -156px;font-size: 12px;">
          <h4>Nome do Fornecedor : {{NovaNota.nomeFornecedor}} </h4>
        </div>  

  </div>

</div>





<div class="container  mt-4" style="width: 120px;margin-left : -25px;margin-top: -150px;">

        <table class="table col-md-3"  style="text-align: center;width:100%;margin-top: -150px;">
        <thead class="thead-dark" >
            <tr>
            <th scope="col">Nome </th>
            <th scope="col">Descricao</th>
            <th scope="col">Referencia</th>
            <th scope="col">Cor</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor de Compra</th>
            <th scope="col">Valor de Venda</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tbody">
              <div class="response"></div>

                
        </tbody>
        </table>
        

        <script>







        $(document).ready(()=>{
          const Formulario = document.getElementsByClassName("Form1")
          const QuantidadeDeItens = {{NovaNota.quantidadeDeItens}};
          for(var i = 1 ; ;i++){

            if(i > QuantidadeDeItens){break;}



            const formularioDeCadastroDeItem =  '<tr><form class="Form1" id="form'+i+'" action="#" method="POST" ><td><input id="nomeProduto'+i+'" type="text" name="nomeProduto" placeholder="Nome Produto" style="width: 155px;text-align:center;"></td><td><input id="descProduto'+i+'" type="text" placeholder="Descricao" style="width: 155px;text-align:center;"></td><td><input id="refProduto'+i+'" type="text" placeholder="Referencia" style="width: 120px;text-align:center;"></td><td><input id="corProduto'+i+'" type="text" placeholder="Cor" style="width: 120px;text-align:center;"></td><td><input type="number" id="quantidadeProduto'+i+'" placeholder="QTD" style="width: 100px;text-align:center;"></td><td><select name="productCategory" id="categoriaProduto'+i+'" style="width: 180px;height : 35px;margin-top:-2px;" required="true" class="form-control" placeholder="Selecione a Categoria do Produto">{{#each categoria}}<option id="{{name}}" value="{{name}}">{{name}}</option>     {{/each}}</select></td><td><input id="valorCompra'+i+'"  type="text" placeholder="ValorCompra" style="width: 120px;text-align:center;"></td><td><input type="text" id="valorVenda'+i+'" placeholder="ValorVenda" style="width: 120px;text-align:center;"></td><td><button id="btnEnviar" type="submit" onclick="capturaClick('+i+')" class="btn btn-success">✓</button></td></form></tr>';
            $("#tbody").append(formularioDeCadastroDeItem)



          }
          })



          function capturaClick(id){


  

              let Product = {
                name : document.getElementById("nomeProduto"+id).value,
                desc : document.getElementById("descProduto"+id).value,
                ref : document.getElementById("refProduto"+id).value,
                color : document.getElementById("corProduto"+id).value,
                qtd : document.getElementById("quantidadeProduto"+id).value,
                category : document.getElementById("categoriaProduto"+id).value,
                buyValue : document.getElementById("valorCompra"+id).value,
                saleValue : document.getElementById("valorVenda"+id).value
              }
              console.log(Product)
              $.ajax({
              url : "http://localhost:8081/admin/lancarProdutoEmNota/success/onebyone",
              type : "POST",
              data : Product,
              success : (data)=>{
                console.log("Success " + data)

              },
              error : (err)=>{
                console.log("Error " + err)
              }
              })

/*
                document.querySelector("#nomeProduto"+id).hidden
                document.querySelector("#descProduto"+id).hidden
                document.querySelector("#refProduto"+id).hidden
                document.querySelector("#corProduto"+id).hidden
                document.querySelector("#quantidadeProduto"+id).hidden
                document.querySelector("#categoriaProduto"+id).hidden
                document.querySelector("#valorCompra"+id).hidden
                document.querySelector("#valorVenda"+id).hidden
                document.getElementById("nomeProduto"+id).value = ""
                document.getElementById("descProduto"+id).value = ""
                document.getElementById("refProduto"+id).value = ""
                document.getElementById("corProduto"+id).value = ""
                document.getElementById("quantidadeProduto" + id).value = ""
                document.getElementById("categoriaProduto" + id).value = ""
                document.getElementById("valorCompra"+id).value = ""
                document.getElementById("valorVenda"+id).value = ""
*/


      
                console.log(id)
                id = 0
        }


        </script>